# ----
# Settings for plprofiler
# ----
#shared_preload_libraries = 'plprofiler'	# Add this to be able to use
											# the .enabled and .enable_pid
											# options.

#plprofiler.max_functions = 2000			# The number of functions that
											# can be tracked in shared memory.

#plprofiler.max_lines = 200000				# The number of source code lines
											# that can be tracked.

#plprofiler.max_callgraphs = 20000			# The number of different call
											# graphs that can be tracked.

