# ----
# Settings for plprofiler
# ----
#shared_preload_libraries = 'plprofiler'	# Add this to be able to use
											# the .enabled and .enable_pid
											# options.
#plprofiler.enabled = false					# Enable/disable the profiler
											# for all backends.
#plprofiler.enable_pid = 0					# Enable the profiler for one
											# specific PID regardless of the
											# .enabled flag.
#plprofiler.collect_interval = 0			# Interval in seconds when the
											# profiler will save the stats,
											# collected in local hash tables
											# into the shared hash tables.
											# The default 0 means only save
											# at transaction end.

